html {
    box-sizing: border-box;
    font-size: 16px;
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    margin: 0 auto;
    display: table;
    background-color: #fff;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: monospace;
}

a,
a:visited {
    color: #333;
}

ul {
    margin-left: 2em;
}

li {
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

th {
    border-bottom: 2px solid #333;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}


/*.main {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
}*/

.header {
    padding: 1em 1em 2em 1em;
    max-width: 768px;
    background-color: #444;
    color: #f3f3f3;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header>.title {
    font-size: 3rem;
}

.content {
    padding: 1em;
    max-width: 768px;
    background-color: #fff;
}

.content>.title {
    font-size: 1.75em;
    margin: 0 0 .4em 0;
}

.content>p {
    line-height: 1.5em;
    margin-bottom: .75em;
}

p.address,
.regnum,
.mono {
    font-family: 'Courier New', Courier, monospace;
}

p.address {
    margin-bottom: 0;
}

.footer {
    padding: 1em;
    background-color: #ddd;
    max-width: 768px;
}

.loading {
    color: #aaa;
}

a.button {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 2px solid #ccc;
    color: #444;
    padding: 5px 8px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.button:hover {
    background-color: #eee;
}

img {
    background-color: #fff;
    width: 100%;
}